.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.example-btn {
  padding: .5rem;
  margin: 1rem;
  border-radius: 8%;
}

.example-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px grey;
}

.color-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-and-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex: 1 0 21%;
}

.new-colors-btn {
  padding: .5rem;
  margin: .5rem;
  /* border: grey solid 1px; */
  border-radius: 15%;
  font-size: 2rem;
}

.new-colors-btn span:hover {
  cursor: pointer;
}

.palette {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 10%;
  padding: 1rem;
  margin: 1px;
}

.palette:hover {
  cursor: pointer;
  border: grey solid 2px;
  transform: scale(1.01);
  animation: ease 500ms;
  margin: 0;
}

.primary-palette {
  display: flex;
  flex-direction: column;
}

.secondary-palette {
  display: flex;
  flex-direction: column;
}

.big-color {
  width: 8rem;
  height: 8rem;
  margin: .3rem;
  border-radius: 15%;
}

.variation-container {
  width: 8rem;
  height: 4rem;
  margin: .3rem;
  border-radius: 15%;
}
